.choice {
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  top: 6rem;
  left: 0;
  right: 0;
  z-index: 1000;
}
.choice_bar {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-justify: center;
  justify-content: center;
}
.choice button {
  margin: 5px 10%;
  font-size: 1.5rem;
  color: #666;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

.choice button:hover {
  color: #0091ff;
  cursor: pointer;
}
.doctor_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 10%;
    margin-top: 7rem;
  }
#Pediatra_card
  {
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
    flex-wrap: wrap;
  }
  #Rodzinny_card
  {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .doctor_card {
    display: none;
    background-color: lightblue;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  
  .doctor_photo {
    width: 35%;
    padding-right: 5%;
    min-width: 150px;
  }
  
  .doctor_photo img {
    width: 100%;
    border-radius: 20px;
  }
  
  .doctor_data {
    width: 65%;
    padding: 5px 1% 5px 5%;
    border-left: 1px solid gray;
  }
  
  .doctor_name {
    margin-top: 10px;
    text-align: left;
    font-size: 1.2em;
    color: #130f40;
  }
  
  .doctor_specialty {
    margin-top: 10px;
    text-align: left;
    color: #130f40;
  }
  
  .doctor_rating {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #130f40;
  }
  
  .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }
  
  .star {
    width: 20px;
    margin: 0 2px;
  }
  
  .star img {
    width: 100%;
    height: 100%;
  }
  
  .number_of_ratings {
    padding: 0 10px;
  }
  
  .calender {
    margin-top: 20px;
    width: 100%;
  }
  
  .next_5_days {
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  .days {
    width: 20%;
    text-align: center;
  }
  
  .day {
    padding-bottom: 10px;
    color: #130f40;
  }
  
  .day_name {
    font-size: 1rem;
    color: #130f40;
  }
  
  .day_data {
    font-size: 1.2rem;
    color: #130f40;
  }
  
  .hours {
    padding: 0px 0px;
    font-size: 1.5rem;
    color: #666;
  }
  
  .hours button {
    width: 80%;
    padding: 5px 0px;
    margin-bottom: 7px;
    border: 0px;
  }
  
  .term_booked {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: line-through;
    color: #666;
  }
  
  .term_free {
    background-color: #def3fa;
    border-radius: 5px;
    color: #130f40;
  }
  
  .term_free:hover {
    cursor: pointer;
    color: #0091FF;
  }
  
  .empty_term {
    background-color: rgba(0, 0, 0, 0);
    color: #787878;
  }
  
  .more_term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .more_term button {
    height: 40px;
    width: 60%;
    border-radius: 15px;
    border: 0px;
    background-color: lightcyan;
  }
  
  .more_term button:hover {
    cursor: pointer;
    color: #0091FF;
  }
  
  @media only screen and (max-width: 1024px)
  {
      .doctor_cards
      {
          flex-wrap: wrap;
      }
      #Pediatra_card, #Rodzinny_card
      {
        flex-wrap: wrap;
      }
      .doctor_card
      {
          width: 100%;  
      }
      .doctor_photo
      {
        width: 100%;
          max-width: 200px;
      }
  }
  @media only screen and (max-width: 600px)
  {
      .choice_bar {
    flex-wrap: wrap;
  }
      .doctor_cards
      {
          flex-wrap: wrap;
      }
      .doctor_card
      {
          width: 100%;  
          display:block;
      }  
      #Pediatra_card, #Rodzinny_card
      {
        flex-wrap: wrap;
      }
      .doctor_photo
      {
          padding-left: 25%;
      }
      .doctor_photo img
      {
          width: 150px;
      }
      .doctor_data
      {
          width: 100%;
          border-left: 0px solid gray;
      }
      .calender
      {
          width: 90%;
      }

  }